@font-face {
    font-family: "OpenSans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans Italic";
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: "SourceSerifPro Regular";
    src: url(../fonts/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: "SourceSerifPro Italic";
    src: url(../fonts/SourceSerifPro-Italic.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "OpenSans Regular", Helvetica, Arial, sans-serif;
}

.header {
    background-color: #44e080;
    padding-top: 17px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

.menu-text {
    padding: 0 10px;
    color:brown;
    transition: background-color 0.2s;
    text-decoration: none;
    font-family: "OpenSans Italic", Helvetica, Arial, sans-serif;
}

.menu-text:hover {
    background-color: rgb(30, 182, 149);
}

.main {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.main .main-header {
    text-align: center;
    padding-top: 15px;
    color: #5b661f;
    font-family: "SourceSerifPro Regular", serif;
}

.main .img-wrapper {
    height: 492px;
    margin-top: 20px;
    padding: 20px;
    background-color: #9ee3c2;
    border: 1px solid black;
}

.main .img {
    display: block;
    margin: 0 auto;    
}

.h2 {
    color: #0e31dd;
    margin-top: 15px;
    text-align: center;
    font-family: "SourceSerifPro Italic", serif;
}

.main .paragraph {
    padding: 0px 40px 20px;
}

.main .h-wrapper {
    padding-left: 40px;
}

.main .h3 {
    font-size: 16px;
    color: #4278bb;
}

.main .h4 {
    font-size: 13px;
    color: #22bb4a;
}

.main .hobby-list {
    padding: 0px 100px 20px;
}

.main .work-duration {
    font-size: 13px;
    color: #585dff;
}

.footer {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #dddcdc;
    padding: 15px 0;
    border: 1px solid gray;
}

.footer .h2 {
    color: #0e31dd;
    text-align: center;
    margin-top: 0px;
}

.footer .phone {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .contacts {
    width: 300px;
    margin: 0 auto;
}

.footer .anchor {
    text-decoration: none;
    color: #cd5959;
}

.footer .links {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}